* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: overpass;
  background-color: black;
}

/* first card */

.wrapper {
  width: 380px;
  height: 300px;
  color: white;
  background-color: hsl(213, 19%, 18%);
  border-radius: 12px;
  margin-bottom: 20px;
}

.inner-wrapper {
  padding: 30px 20px 30px 20px;
}

.star {
  background-color: hsl(216, 10%, 30%);
  width: 13px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  padding: 8px;
  margin-bottom: 15px;
}

.title {
  font-size: 24px;
  margin: 4px 5px 5px 0;
}

.star-icon {
  width: 100%;
}

.write-up p {
  width: 320px;
  margin-bottom: 10px;
  line-height: 20px;
  color: hsl(217, 12%, 63%);
}

.number-box {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: 390px;
}

.num {
  width: 40px;
  height: 40px;
  margin-right: 30px;
  color: black;
  background-color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.num:hover {
  background-color: hsl(25, 97%, 53%);
}

.num-active {
  background-color: hsl(216, 10%, 30%);
  color: white;
}

.num-color-active {
  background-color: hsl(25, 97%, 53%);
}

.btn {
  background-color: hsl(25, 97%, 53%);
  width: 330px;
  padding: 10px;
  border-radius: 18px;
  border: none;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}

.btn:active {
  background-color: white;
  color: black;
}

/* Second  page */

.second-page {
  color: white;
}

.sec-wrapper {
  width: 380px;
  height: 300px;
  color: white;
  background-color: hsl(213, 19%, 18%);
  border-radius: 12px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  display: none;
}

.sec-inner-wrapper {
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-box {
  width: 130px;
}

.thanks-img {
  width: 100%;
  margin-bottom: 20px;
}

.output {
  color: hsl(25, 97%, 53%);
  background-color: hsl(214, 14%, 23%);
  padding: 5px;
  width: 150px;
  border-radius: 18px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.sec-thanks {
  margin-bottom: 10px;
}

.sec-write-up2 {
  width: 330px;
  text-align: center;
  line-height: 20px;
  color: hsl(217, 12%, 63%);
}

.sec-write-up2 .p-2 {
  text-align: center;
}

.wrapper-active {
  display: none;
}

.sec-wrapper-active {
  display: block;
}
